frontend/obj
frontend/front
.vscode
backend/back
backend/obj
common/obj
processor/asm/obj
processor/cpu/obj
processor/utils/obj
processor/asm/run
processor/spu/run
a.out
examples/*.bin
examples/*.asm
reverse_frontend/obj
reverse_frontend/reverse
clean.sh
